*{
     margin: 0;
     padding: 0;
}

.page{
     background: linear-gradient(black,white,white);
}

.userimage{
     position: absolute;
     width: 8%;
     border-radius: 50%;
     box-shadow: 0 0 20px 10px;
     right: 46%;
     top: 13%;
}

.table{
display: flex;
justify-content: center;
}

.pagecontent{
     background-color: white;
     width: 93vw;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-row: 90%;
}

.left{
     padding: 10%;
     padding-left: 30%;
}

.right{
     padding: 10%;
     padding-left: 25%;
}

.nav{
     border: 5px solid black;
     border-radius: 50px;
     width: 99.3vw;
     height: 20vh;
}

.valuelabel1{
     font-weight: bold;
     font-size: larger;
     color: darkred;
     font-family: 'Dosis', sans-serif;
}

.valuelabel2{
     font-weight: bold;
     font-size: larger;
     color: darkblue;
     font-family: 'Dosis', sans-serif;
}

.content{
     display: grid;
     row-gap: 20px;
     grid-template-columns: 40% 55%;
}

.valueinput{
     padding: 0 10px;
     border-bottom: 1px dashed black;
     border-top: 2px solid white;
     border-right: 2px solid white;
     border-left: 2px solid white;
     font-size: larger;
     font-family: 'Pacifico';
    }
    
.valueinput:hover{
     background: linear-gradient(to right,darkred,blue);
     box-shadow: 0 0 4px 2px black;
     color: white;
}

.buttonimg{
     border: none;
}

.footer{
     margin-top: 5%;
     width: 90vw;
     display: flex;
     align-items: center;
     color: white;
     font-family: 'Dosis', sans-serif;
     font-weight: bold;
     font-size: larger;
     background: linear-gradient(to right ,white,black,white);
}

.imglogo{
     width: 15%;
}

.copyright{
     margin-left: 30%;
}

.buttonsubmit{
     position: absolute;
     bottom: 20%;
     left: 45%;
     width: 15%;     
     padding: 10px;
     background: linear-gradient(to left,green,blue);
     color: white;
     font-family: 'Dosis', sans-serif;
     font-weight: bold;
     font-size: large;
     border-radius: 20px;
}

.buttonsubmit:hover{
     background: linear-gradient(to left,blue,green);
     color: white;
}