<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>HR_ID</param-name>
            <param-value>susant@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>addResult</servlet-name>
        <servlet-class>addResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSudentServlet</servlet-name>
        <servlet-class>addSudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDepartment</servlet-name>
        <servlet-class>showDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchStudent</servlet-name>
        <servlet-class>searchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFees</servlet-name>
        <servlet-class>updateFees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addResult</servlet-name>
        <url-pattern>/addResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSudentServlet</servlet-name>
        <url-pattern>/addSudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDepartment</servlet-name>
        <url-pattern>/showDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchStudent</servlet-name>
        <url-pattern>/searchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFees</servlet-name>
        <url-pattern>/updateFees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
